<h1>Create Inventory</h1>
<br />
<form action="/add" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="inv_name" id="" />
  </div>

  <div class="form-group">
    <label for="type">Type</label>
    <input type="text" class="form-control" name="inv_type" id="" />
  </div>

  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="number" class="form-control" name="inv_quantity" id="" />
  </div>

  <div class="form-group">
    <label for="street">Street</label>
    <input type="text" class="form-control" name="inv_street" id="" />
  </div>

  <div class="form-group">
    <label for="building">Building</label>
    <input type="text" class="form-control" name="inv_building" id="" />
  </div>

  <div class="form-group">
    <label for="countty">Country</label>
    <input type="text" class="form-control" name="inv_country" id="" />
  </div>

  <div class="form-group">
    <label for="code">Zip code</label>
    <input type="number" class="form-control" name="inv_code" id="" />
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="lat">Lat</label>
      <input type="text" class="form-control" name="inv_lat" id="" />
    </div>

    <div class="form-group col-md-6">
      <label for="lng">Lng</label>
      <input type="text" class="form-control" name="inv_lng" id="" />
    </div>
  </div>

  <div class="form-group">
    <label for="photo">Photo</label>
    <input type="file" class="orm-control-file" name="inv_photo" id="" />
  </div>

  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
