<div class="ui fluid card">
  <div class="content">
    <div class="header">Create Inventory</div>
  </div>
  <div class="content">
    <form
      action="/create"
      method="post"
      class="ui form"
      enctype="multipart/form-data"
    >
      <div class="field">
        <label>Item Name</label>
        <input type="text" name="item_name" placeholder="Item Name" required />
      </div>
      <div class="field">
        <label>Manager</label>
        <input type="text" name="manager" placeholder="Username" required />
      </div>
      <div class="field">
        <label>Type</label>
        <input type="text" name="type" placeholder="Type of the Inventory" />
      </div>
      <div class="field">
        <label>Quantity</label>
        <input type="number" name="quantity" placeholder="Number" />
      </div>
      <div class="field">
        <label>Street</label>
        <input type="text" name="street" placeholder="Street" />
      </div>
      <div class="field">
        <label>Building</label>
        <input type="text" name="building" placeholder="Building" />
      </div>
      <div class="field">
        <label>Country</label>
        <input type="text" name="country" placeholder="Country" />
      </div>
      <div class="field">
        <label>Zip code</label>
        <input type="text" name="zipcode" placeholder="Zip Code" />
      </div>
      <div class="field">
        <label>GPS Lat</label>
        <input type="text" name="lat" placeholder="Latitude" />
      </div>
      <div class="field">
        <label>GPS Lnt</label>
        <input type="text" name="lng" placeholder="Longitude" />
      </div>
      <div class="field">
        <label>Photo</label>
        <input type="file" name="image" />
      </div>
      <div>
        <button type="submit" class="fluid ui button">Submit</button>
      </div>
    </form>
  </div>
</div>
