<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

<h1>Create Inventory</h1>
<br>
<form action="/create" method="post">
    <label for="name">Name</label>
    <input type="text" name="inv_name" id="">
    <br>
    <label for="type">Type</label>
    <input type="text" name="inv_type" id="">
    <br>
    <label for="quantity">Quantity</label>
    <input type="number" name="inv_quantity" id="">
    <br>
    <label for="street">Street</label>
    <input type="text" name="inv_street" id="">
    <br>
    <label for="building">Building</label>
    <input type="text" name="inv_building" id="">
    <br>
    <label for="countty">Country</label>
    <input type="text" name="inv_country" id="">
    <br>
    <label for="code">Zip code</label>
    <input type="number" name="inv_code" id="">
    <br>
    <label for="latlng">LatLng</label>
    <input type="text" name="inv_latlng" id="">
    <br>
    <label for="photo">Photo</label>
    <input type="file" name="inv_photo" id="">
    <br>
    <input type="submit" value="Create">
</form>