<div
  id="map"
  class="ui inverted segment mx-auto"
  style="width: 80%; height: 70vh; border: 3px solid #888"
></div>
<button
  class="ui right floated right labeled basic icon button"
  onclick="history.back()"
>
  <i class="times icon"></i> Back
</button>
